<template>
    <div id="app">
        <router-view />
    </div>
</template>

<script>
export default {
    created () {
        // this.getData();
    },
    mounted () {
    },
    data: () => ({

    })
}
</script>
<style lang="scss">
</style>
