<template>
    <div>
        <b-navbar toggleable="lg" type="dark" variant="dark">
            <b-navbar-brand tag="h1" class="mb-0 px-3">Estudiantes - Test</b-navbar-brand>
        </b-navbar>
        <div class="container mt-4">
            <e-form @submitted="getData"/>
        </div>
        <div class="container text-center">
            <b-table striped hover :items="items" :fields="fields" />
        </div>
    </div>
</template>

<script>
import Form from '../components/Form';

export default {
    name: 'Index',
    components: {
        'e-form': Form
    },
    data() {
        return {
            fields: [
                {
                    key: 'id',
                    label: 'ID',
                },
                {
                    key: 'fullName',
                    label: 'Nombre',
                },
                {
                    key: 'age',
                    label: 'Edad',
                },
                {
                    key: 'dateBirth',
                    label: 'F. Nacimiento',
                },
                {
                    key: 'enrollmentDate',
                    label: 'F. Inscripcion',
                },
                {
                    key: 'options',
                    label: 'Opciones',
                },
            ],
            items: [],
        }
    },
    created() {
        this.getData();
    },
    methods: {
        async getData() {
            const { data } = await axios.get('/api/students');
            this.items = data.data;
        }
    },
}
</script>

<style scoped>

</style>
