<template>
    <div>
        <b-button variant="success" @click="showModal">Nuevo</b-button>
        <b-modal ref="my-modal" hide-footer title="Crear Estudiante">
            <div class="row">
                <div class="col-sm-12">
                    <b-form @submit.prevent="onSubmit" @reset="reset">
                        <b-form-group
                            id="input-group-1"
                            label="Nombre Completo:"
                            label-for="input-name"
                            class="my-3"
                        >
                            <b-form-input
                                id="input-name"
                                v-model="form.fullName"
                                placeholder="Ingrese Nombre"
                                :state="errors && !errors.fullName"
                                required
                            ></b-form-input>
                            <b-form-invalid-feedback v-if="errors && errors.fullName">
                                {{ errors.fullName[0] }}
                            </b-form-invalid-feedback>
                        </b-form-group>

                        <b-form-group
                            id="input-group-2"
                            label="Edad"
                            label-for="input-age"
                            class="my-3">
                            <b-form-input
                                id="input-age"
                                v-model="form.age"
                                placeholder="Ingrese Edad"
                                type="number"
                                :state="errors && !errors.age"
                                required
                            ></b-form-input>
                            <b-form-invalid-feedback v-if="errors && errors.age">
                                {{ errors.age[0] }}
                            </b-form-invalid-feedback>
                        </b-form-group>

                        <b-form-group
                            id="input-group-3"
                            label="Fecha de Nacimiento"
                            label-for="input-birth"
                            class="my-3">
                            <b-form-input
                                id="input-birth"
                                v-model="form.dateBirth"
                                placeholder="Ingrese Fecha Nacimiento"
                                type="date"
                                :state="errors && !errors.dateBirth"
                                required
                            ></b-form-input>
                            <b-form-invalid-feedback v-if="errors && errors.dateBirth">
                                {{ errors.dateBirth[0] }}
                            </b-form-invalid-feedback>
                        </b-form-group>

                        <b-form-group
                            id="input-group-3"
                            label="Fecha de Inscripcion"
                            label-for="input-enrollment"
                            class="my-3">
                            <b-form-input
                                id="input-enrollment"
                                v-model="form.enrollmentDate"
                                placeholder="Ingrese Fecha Inscripcion"
                                type="date"
                                :state="errors && !errors.enrollmentDate"
                                required
                            ></b-form-input>
                            <b-form-invalid-feedback v-if="errors && errors.enrollmentDate">
                                {{ errors.enrollmentDate[0] }}
                            </b-form-invalid-feedback>
                        </b-form-group>

                        <b-form-group
                            id="input-group-3"
                            label="Costo"
                            label-for="input-cost"
                            class="my-3">
                            <b-form-input
                                id="input-cost"
                                v-model="form.cost"
                                placeholder="Ingrese Costo"
                                type="number"
                                :state="errors && !errors.cost"
                                required
                            ></b-form-input>
                            <b-form-invalid-feedback v-if="errors && errors.cost">
                                {{ errors.cost[0] }}
                            </b-form-invalid-feedback>
                        </b-form-group>

                        <b-button type="submit" variant="primary">Guardar</b-button>
                        <b-button type="reset" variant="danger">Reset</b-button>
                    </b-form>
                </div>
            </div>
        </b-modal>
    </div>
</template>

<script>
export default {
    name: 'Form',
    data() {
        return {
            form: {
                id: 0,
                fullName: '',
                age: '',
                dateBirth: '',
                enrollmentDate: '',
                cost: '',
            },
            errors: null,
        }
    },
    methods: {
        showModal() {
            this.$refs['my-modal'].show()
        },
        hideModal() {
            this.$refs['my-modal'].hide()
        },
        async onSubmit() {
            try {
                await axios.post('/api/students', this.form);
                this.reset();
                this.hideModal();
                this.$emit('submitted')
            } catch (error) {
                if (error.response) {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }
                    /* if (error.response.status === 500) {
                        this.$message.error(error.response.data.message)
                    } */
                }
            }
        },
        reset() {
            this.form = {
                id: 0,
                fullName: '',
                age: '',
                dateBirth: '',
                enrollmentDate: '',
                cost: '',
            };
            this.errors = null;
        }
    },
}
</script>

<style scoped>

</style>
